.App {
    text-align: center;
    font-family: 'Overpass Mono';
    display: block;
    color: crimson;
    background-color: #fff9f1;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Overpass Mono', sans-serif;
    font-size: 16px;
    color: crimson;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

p {
    font-size: 62.55%;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
}
